<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<dict>
		<key>hill1</key>
		<array>
			<dict>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>146</integer>
				<key>z</key>
				<integer>-35</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>136</integer>
				<key>z</key>
				<integer>-35</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>111</integer>
				<key>z</key>
				<integer>-35</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>135</integer>
				<key>y</key>
				<integer>79</integer>
				<key>z</key>
				<integer>-35</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>44</integer>
				<key>z</key>
				<integer>-35</integer>
			</dict>
		</array>
		<key>hill2</key>
		<array>
			<dict>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>81</integer>
				<key>z</key>
				<integer>-45</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>94</integer>
				<key>z</key>
				<integer>-45</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>317</integer>
				<key>y</key>
				<integer>103</integer>
				<key>z</key>
				<integer>-45</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>93</integer>
				<key>z</key>
				<integer>-45</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>75</integer>
				<key>z</key>
				<integer>-45</integer>
			</dict>
		</array>
		<key>hill3</key>
		<array>
			<dict>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>157</integer>
				<key>z</key>
				<integer>-55</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>172</integer>
				<key>z</key>
				<integer>-55</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>148</integer>
				<key>z</key>
				<integer>-55</integer>
			</dict>
		</array>
		<key>hill4</key>
		<array>
			<dict>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>153</integer>
				<key>z</key>
				<integer>-65</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>194</integer>
				<key>z</key>
				<integer>-65</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>184</integer>
				<key>z</key>
				<integer>-65</integer>
			</dict>
		</array>
		<key>hill5</key>
		<array>
			<dict>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>223</integer>
				<key>z</key>
				<integer>-75</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>233</integer>
				<key>y</key>
				<integer>233</integer>
				<key>z</key>
				<integer>-75</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>267</integer>
				<key>y</key>
				<integer>238</integer>
				<key>z</key>
				<integer>-75</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>305</integer>
				<key>y</key>
				<integer>237</integer>
				<key>z</key>
				<integer>-75</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>228</integer>
				<key>z</key>
				<integer>-75</integer>
			</dict>
		</array>
		<key>hill6</key>
		<array>
			<dict>
				<key>x</key>
				<integer>15</integer>
				<key>y</key>
				<integer>244</integer>
				<key>z</key>
				<integer>-85</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>43</integer>
				<key>y</key>
				<integer>245</integer>
				<key>z</key>
				<integer>-85</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>237</integer>
				<key>z</key>
				<integer>-85</integer>
				<key>count</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>hill7</key>
		<array>
			<dict>
				<key>x</key>
				<integer>422</integer>
				<key>y</key>
				<integer>222</integer>
				<key>z</key>
				<integer>-95</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>232</integer>
				<key>z</key>
				<integer>-95</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
