<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,654},{532,348}}</string>
                <key>offset</key>
                <string>{-214,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,292},{532,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{960,306}}</string>
                <key>offset</key>
                <string>{0,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,334},{960,306}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>L3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,230},{408,242}}</string>
                <key>offset</key>
                <string>{-152,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,287},{408,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>L4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,654},{474,344}}</string>
                <key>offset</key>
                <string>{243,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,205},{474,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>L5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,230},{676,244}}</string>
                <key>offset</key>
                <string>{141,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,147},{676,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>L6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,226}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,148},{960,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>L7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,476},{700,176}}</string>
                <key>offset</key>
                <string>{130,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,159},{700,176}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>L8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{820,194}}</string>
                <key>offset</key>
                <string>{70,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,95},{820,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>L9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,364}}</string>
                <key>offset</key>
                <string>{0,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,364}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hillLevelBackground-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea354831fe84bd1c8bd457bff9729b2b$</string>
            <key>textureFileName</key>
            <string>hillLevelBackground-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
