<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,147},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>hill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,919},{350,178}}</string>
                <key>offset</key>
                <string>{-305,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,168},{350,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{584,180}}</string>
                <key>offset</key>
                <string>{62,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,152},{584,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1099},{396,164}}</string>
                <key>offset</key>
                <string>{282,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,244},{396,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{630,164}}</string>
                <key>offset</key>
                <string>{-45,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,303},{630,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1501},{490,232}}</string>
                <key>offset</key>
                <string>{-235,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,334},{490,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1265},{312,172}}</string>
                <key>offset</key>
                <string>{324,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,370},{312,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{548,204}}</string>
                <key>offset</key>
                <string>{206,-218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,436},{548,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{568,178}}</string>
                <key>offset</key>
                <string>{-196,-231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,462},{568,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,280},{394,34}}</string>
                <key>offset</key>
                <string>{280,-303}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{563,606},{394,34}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>hill_bush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,644},{325,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,137}}</string>
                <key>sourceSize</key>
                <string>{325,137}</string>
            </dict>
            <key>hill_bush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,676},{83,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>hill_bush3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,190},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>hill_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,63},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>hill_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,862},{108,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,64}}</string>
                <key>sourceSize</key>
                <string>{108,64}</string>
            </dict>
            <key>hill_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>hill_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,761},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>hill_flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,790},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>hill_flower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,972},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>hill_rainbow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{200,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,106}}</string>
                <key>sourceSize</key>
                <string>{200,106}</string>
            </dict>
            <key>hill_rainbow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,783},{317,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,134}}</string>
                <key>sourceSize</key>
                <string>{317,134}</string>
            </dict>
            <key>hill_rainbow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1265},{234,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,109}}</string>
                <key>sourceSize</key>
                <string>{234,109}</string>
            </dict>
            <key>hill_scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1378},{302,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,222}}</string>
                <key>sourceSize</key>
                <string>{302,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hill_level_spritesheet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f04a5d079cdd4d4e1e06a6d0ea4946$</string>
            <key>textureFileName</key>
            <string>hill_level_spritesheet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
