<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,77},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>hill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,393},{176,90}}</string>
                <key>offset</key>
                <string>{-152,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{176,90}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{292,90}}</string>
                <key>offset</key>
                <string>{31,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,76},{292,90}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,485},{198,82}}</string>
                <key>offset</key>
                <string>{141,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,122},{198,82}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{316,84}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,150},{316,84}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{246,116}}</string>
                <key>offset</key>
                <string>{-117,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,167},{246,116}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,640},{156,86}}</string>
                <key>offset</key>
                <string>{162,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,185},{156,86}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{274,102}}</string>
                <key>offset</key>
                <string>{103,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,218},{274,102}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{284,90}}</string>
                <key>offset</key>
                <string>{-98,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,230},{284,90}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,146},{198,18}}</string>
                <key>offset</key>
                <string>{139,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,302},{198,18}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill_bush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,569},{163,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,69}}</string>
                <key>sourceSize</key>
                <string>{163,69}</string>
            </dict>
            <key>hill_bush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,346},{42,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,17}}</string>
                <key>sourceSize</key>
                <string>{42,17}</string>
            </dict>
            <key>hill_bush3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,100},{44,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,19}}</string>
                <key>sourceSize</key>
                <string>{44,19}</string>
            </dict>
            <key>hill_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,34},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>hill_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,688},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>hill_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>hill_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,410},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>hill_flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,824},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>hill_flower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,824},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>hill_rainbow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,722},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>hill_rainbow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,324},{159,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,67}}</string>
                <key>sourceSize</key>
                <string>{159,67}</string>
            </dict>
            <key>hill_rainbow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,569},{117,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,55}}</string>
                <key>sourceSize</key>
                <string>{117,55}</string>
            </dict>
            <key>hill_scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,728},{151,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,111}}</string>
                <key>sourceSize</key>
                <string>{151,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hill_level_spritesheet.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f919010dacb2db25600727836da548d5$</string>
            <key>textureFileName</key>
            <string>hill_level_spritesheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
