<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,324},{176,90}}</string>
                <key>offset</key>
                <string>{-152,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{176,90}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{292,90}}</string>
                <key>offset</key>
                <string>{31,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,76},{292,90}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,416},{198,82}}</string>
                <key>offset</key>
                <string>{141,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,122},{198,82}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{316,84}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,150},{316,84}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,588},{246,116}}</string>
                <key>offset</key>
                <string>{-117,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,167},{246,116}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,500},{156,86}}</string>
                <key>offset</key>
                <string>{162,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,185},{156,86}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,588},{274,102}}</string>
                <key>offset</key>
                <string>{103,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,218},{274,102}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{284,90}}</string>
                <key>offset</key>
                <string>{-98,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,230},{284,90}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{198,18}}</string>
                <key>offset</key>
                <string>{139,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,302},{198,18}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>hill_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hills_Level_Background.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ce01cf5141e62af09df5d823cee9c7e$</string>
            <key>textureFileName</key>
            <string>Hills_Level_Background.pvr.ccz</string>
        </dict>
    </dict>
</plist>
