<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beach.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{480,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,69}}</string>
                <key>sourceSize</key>
                <string>{480,69}</string>
            </dict>
            <key>beach_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{263,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,69}}</string>
                <key>sourceSize</key>
                <string>{263,69}</string>
            </dict>
            <key>beach_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,717},{217,51}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{217,51}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>bubbles.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,339},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>coral1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,863},{69,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>coral1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,717},{65,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>coral1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,933},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>coral2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,755},{34,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>coral2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,717},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>crab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,933},{71,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{71,62}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>crab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,936},{73,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{73,62}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>crab3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,951},{71,62}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{71,62}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>hit_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,784},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>purplestar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,844},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>purplestar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,125},{27,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>purplestar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,96},{25,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>red_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,717},{185,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,37}}</string>
                <key>sourceSize</key>
                <string>{185,37}</string>
            </dict>
            <key>rock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,717},{232,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,51}}</string>
                <key>sourceSize</key>
                <string>{232,51}</string>
            </dict>
            <key>sea_fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{73,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,26}}</string>
                <key>sourceSize</key>
                <string>{73,26}</string>
            </dict>
            <key>sea_fish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,936},{76,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,33}}</string>
                <key>sourceSize</key>
                <string>{76,33}</string>
            </dict>
            <key>sea_fish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,863},{68,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,55}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>sea_scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,717},{144,111}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{144,111}}</string>
                <key>sourceSize</key>
                <string>{166,123}</string>
            </dict>
            <key>sea_shell.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,77},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>seaconch.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,299},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>seaweed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,770},{36,35}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>seaweed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,754},{36,35}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>seaweed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,717},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>starsgrouped.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>watersplash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,434},{41,13}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{41,13}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash10.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,222},{23,11}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{23,11}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,423},{17,9}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{17,9}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,376},{45,17}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{45,17}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,235},{45,19}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{45,19}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,177},{43,23}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{43,23}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,904},{41,29}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{41,29}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,717},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,904},{45,27}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{45,27}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,154},{21,25}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{21,25}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>watersplash9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,282},{19,15}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{19,15}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level2_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f00f02a56a5c866fffe32f7ecf460ca$</string>
            <key>textureFileName</key>
            <string>level2_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
