<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1286},{72,71}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,71}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>flower1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1488},{64,73}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{64,73}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>flower1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1360},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>grass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{325,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,137}}</string>
                <key>sourceSize</key>
                <string>{325,137}</string>
            </dict>
            <key>grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,824},{83,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>grass3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,734},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>hill_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,450},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>hill_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1917},{108,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,64}}</string>
                <key>sourceSize</key>
                <string>{108,64}</string>
            </dict>
            <key>hill_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,267},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>hill_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,991},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>hill_flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1360},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>hill_flower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1488},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>hill_rainbow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1286},{200,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,106}}</string>
                <key>sourceSize</key>
                <string>{200,106}</string>
            </dict>
            <key>hill_rainbow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1613},{317,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,134}}</string>
                <key>sourceSize</key>
                <string>{317,134}</string>
            </dict>
            <key>hill_rainbow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1932},{234,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,109}}</string>
                <key>sourceSize</key>
                <string>{234,109}</string>
            </dict>
            <key>hill_scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1613},{302,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,222}}</string>
                <key>sourceSize</key>
                <string>{302,222}</string>
            </dict>
            <key>hit_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1917},{115,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,95}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>mudsplash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,824},{64,21}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{64,21}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,636},{38,13}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,33},{38,13}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,909},{80,31}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{80,31}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,636},{96,39}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{96,39}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,534},{100,45}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{100,45}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,124},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,55}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,328},{120,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,49}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1020},{74,27}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{74,27}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>mudsplash9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,246},{52,19}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{52,19}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>red_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level1_sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed5b0fdfb5d2693f795de682bb7290fa$</string>
            <key>textureFileName</key>
            <string>level1_sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
