<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<dict>
		<key>p1</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>265</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p2</key>
		<dict>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>265</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p3</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>265</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p4</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>265</integer>
			<key>New item</key>
			<integer>45</integer>
		</dict>
		<key>p5</key>
		<dict>
			<key>x</key>
			<integer>435</integer>
			<key>y</key>
			<integer>265</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p6</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>225</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p7</key>
		<dict>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>225</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p8</key>
		<dict>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>225</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p9</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>225</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p10</key>
		<dict>
			<key>x</key>
			<integer>425</integer>
			<key>y</key>
			<integer>225</integer>
			<key>z</key>
			<integer>45</integer>
		</dict>
		<key>p11</key>
		<dict>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>165</integer>
			<key>z</key>
			<integer>35</integer>
		</dict>
		<key>p12</key>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>165</integer>
			<key>z</key>
			<integer>35</integer>
		</dict>
		<key>p13</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>165</integer>
			<key>z</key>
			<integer>35</integer>
		</dict>
		<key>p14</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>165</integer>
			<key>z</key>
			<integer>35</integer>
		</dict>
		<key>p15</key>
		<dict>
			<key>x</key>
			<integer>435</integer>
			<key>y</key>
			<integer>165</integer>
			<key>z</key>
			<integer>35</integer>
		</dict>
		<key>p16</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>140</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
		<key>p17</key>
		<dict>
			<key>x</key>
			<integer>270</integer>
			<key>y</key>
			<integer>140</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
		<key>p18</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>140</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
		<key>p19</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>240</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
		<key>p20</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>100</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
		<key>p21</key>
		<dict>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>100</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
		<key>p22</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>100</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
		<key>p23</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>100</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
		<key>p24</key>
		<dict>
			<key>x</key>
			<integer>435</integer>
			<key>y</key>
			<integer>100</integer>
			<key>z</key>
			<integer>25</integer>
		</dict>
	</dict>
</dict>
</plist>
