<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<dict>
		<key>p1</key>
		<dict>
			<key>x</key>
			<integer>70</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>p2</key>
		<dict>
			<key>x</key>
			<integer>270</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>p3</key>
		<dict>
			<key>x</key>
			<integer>470</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>p4</key>
		<dict>
			<key>x</key>
			<integer>670</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>p5</key>
		<dict>
			<key>x</key>
			<integer>870</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<key>p6</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>450</integer>
		</dict>
		<key>p7</key>
		<dict>
			<key>x</key>
			<integer>270</integer>
			<key>y</key>
			<integer>450</integer>
		</dict>
		<key>p8</key>
		<dict>
			<key>x</key>
			<integer>460</integer>
			<key>y</key>
			<integer>450</integer>
		</dict>
		<key>p9</key>
		<dict>
			<key>x</key>
			<integer>670</integer>
			<key>y</key>
			<integer>450</integer>
		</dict>
		<key>p10</key>
		<dict>
			<key>x</key>
			<integer>850</integer>
			<key>y</key>
			<integer>450</integer>
		</dict>
		<key>p11</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<key>p12</key>
		<dict>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<key>p13</key>
		<dict>
			<key>x</key>
			<integer>470</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<key>p14</key>
		<dict>
			<key>x</key>
			<integer>650</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<key>p15</key>
		<dict>
			<key>x</key>
			<integer>870</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<key>p16</key>
		<dict>
			<key>x</key>
			<integer>330</integer>
			<key>y</key>
			<integer>280</integer>
		</dict>
		<key>p17</key>
		<dict>
			<key>x</key>
			<integer>540</integer>
			<key>y</key>
			<integer>280</integer>
		</dict>
		<key>p18</key>
		<dict>
			<key>x</key>
			<integer>730</integer>
			<key>y</key>
			<integer>280</integer>
		</dict>
		<key>p19</key>
		<dict>
			<key>x</key>
			<integer>900</integer>
			<key>y</key>
			<integer>280</integer>
		</dict>
		<key>p20</key>
		<dict>
			<key>x</key>
			<integer>70</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<key>p21</key>
		<dict>
			<key>x</key>
			<integer>270</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<key>p22</key>
		<dict>
			<key>x</key>
			<integer>470</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<key>p23</key>
		<dict>
			<key>x</key>
			<integer>670</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<key>p24</key>
		<dict>
			<key>x</key>
			<integer>870</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
	</dict>
</dict>
</plist>
