<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beach.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{960,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,137}}</string>
                <key>sourceSize</key>
                <string>{960,137}</string>
            </dict>
            <key>beach_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1425},{526,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,137}}</string>
                <key>sourceSize</key>
                <string>{526,137}</string>
            </dict>
            <key>beach_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1425},{434,101}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{434,101}}</string>
                <key>sourceSize</key>
                <string>{434,137}</string>
            </dict>
            <key>bubbles.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,860},{35,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,69}}</string>
                <key>sourceSize</key>
                <string>{35,69}</string>
            </dict>
            <key>coral1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1939},{137,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{137,76}}</string>
                <key>sourceSize</key>
                <string>{137,86}</string>
            </dict>
            <key>coral1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1861},{129,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,86}}</string>
                <key>sourceSize</key>
                <string>{137,86}</string>
            </dict>
            <key>coral1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1953},{137,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,86}}</string>
                <key>sourceSize</key>
                <string>{137,86}</string>
            </dict>
            <key>coral2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1942},{65,85}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>coral2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1949},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,85}</string>
            </dict>
            <key>crab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1795},{139,121}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{139,121}}</string>
                <key>sourceSize</key>
                <string>{157,143}</string>
            </dict>
            <key>crab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1797},{143,121}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{143,121}}</string>
                <key>sourceSize</key>
                <string>{157,143}</string>
            </dict>
            <key>crab3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1796},{141,121}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{141,121}}</string>
                <key>sourceSize</key>
                <string>{157,143}</string>
            </dict>
            <key>hit_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1949},{115,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,95}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>purplestar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,174},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>purplestar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,280},{53,47}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>purplestar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,229},{49,53}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>red_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>rock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1425},{370,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,74}}</string>
                <key>sourceSize</key>
                <string>{370,74}</string>
            </dict>
            <key>rock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1425},{463,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,101}}</string>
                <key>sourceSize</key>
                <string>{463,101}</string>
            </dict>
            <key>sea_fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,329},{145,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,51}}</string>
                <key>sourceSize</key>
                <string>{145,51}</string>
            </dict>
            <key>sea_fish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1425},{151,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,66}}</string>
                <key>sourceSize</key>
                <string>{151,66}</string>
            </dict>
            <key>sea_fish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1936},{136,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,110}}</string>
                <key>sourceSize</key>
                <string>{136,110}</string>
            </dict>
            <key>sea_scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1425},{287,222}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{287,222}}</string>
                <key>sourceSize</key>
                <string>{331,246}</string>
            </dict>
            <key>sea_shell.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,476},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>seaconch.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,782},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>seaweed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1425},{69,69}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>seaweed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1714},{69,69}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>seaweed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1714},{79,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>starsgrouped.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1714},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>watersplash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,931},{82,23}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,70},{82,23}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash10.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,554},{44,19}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,72},{44,19}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,661},{34,15}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,75},{34,15}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,931},{90,31}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,62},{90,31}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,692},{88,37}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,56},{88,37}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,575},{84,43}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,48},{84,43}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{80,57}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{80,57}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1953},{102,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,84},{88,53}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,37},{88,53}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,512},{40,47}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,42},{40,47}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>watersplash9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,661},{38,29}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,60},{38,29}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level2_sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a92a9d368980df37afc44401ca9be5c$</string>
            <key>textureFileName</key>
            <string>level2_sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
