<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1834},{115,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,95}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>meteroid_gigantic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1663},{161,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,169}}</string>
                <key>sourceSize</key>
                <string>{161,169}</string>
            </dict>
            <key>meteroid_huge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{145,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,134}}</string>
                <key>sourceSize</key>
                <string>{145,134}</string>
            </dict>
            <key>meteroid_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1951},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>meteroid_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>meteroid_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,425},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>red_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>space_scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{375,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,76}}</string>
                <key>sourceSize</key>
                <string>{375,76}</string>
            </dict>
            <key>spacesplash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,769},{26,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{26,84}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,465},{16,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{16,80}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,683},{28,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{28,86}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,557},{36,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{36,86}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,337},{44,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,86}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,117},{50,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,88}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,245},{44,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,465},{36,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,683},{28,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{28,84}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>spacesplash9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,771},{22,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{22,82}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,207},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,645},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,645},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,66},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1286},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level3_sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abeb4bcbb965e22c9a11cde53216404f$</string>
            <key>textureFileName</key>
            <string>level3_sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
