<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,923},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>meteroid_gigantic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>meteroid_huge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>meteroid_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,646},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>meteroid_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,983},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>meteroid_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,186},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>red_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>space_scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{188,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,38}}</string>
                <key>sourceSize</key>
                <string>{188,38}</string>
            </dict>
            <key>spacesplash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,407},{13,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{13,41}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash10.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,274},{7,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{7,39}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,319},{13,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{13,43}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,274},{17,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{17,43}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,141},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{21,43}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash6.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,74},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,207},{19,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{19,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,364},{13,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{13,41}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>spacesplash9.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,319},{11,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{11,41}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,121},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,254},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,254},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,47},{25,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,701},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level3_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0edd319b396a85d9ef8b2a6dbe58f962$</string>
            <key>textureFileName</key>
            <string>level3_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
