<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hammers_Unlocked</key>
	<integer>0</integer>
	<key>Tutorial</key>
	<true/>
	<key>Bgs_Unlocked</key>
	<integer>0</integer>
	<key>Games_Played</key>
	<integer>0</integer>
	<key>High_Score</key>
	<integer>0</integer>
	<key>Highest_Combo</key>
	<integer>0</integer>
</dict>
</plist>
