<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{480,76}}</string>
                <key>offset</key>
                <string>{0,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,76}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>L3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{418,98}}</string>
                <key>offset</key>
                <string>{31,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,48},{418,98}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>L4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,402},{188,42}}</string>
                <key>offset</key>
                <string>{-146,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,104},{188,42}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>L5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{234,96}}</string>
                <key>offset</key>
                <string>{123,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,116},{234,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>L6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{462,76}}</string>
                <key>offset</key>
                <string>{-9,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,244},{462,76}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seaLevelBackground.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5f32f5eb58f206f1c23453bf1da8fa7$</string>
            <key>textureFileName</key>
            <string>seaLevelBackground.pvr.ccz</string>
        </dict>
    </dict>
</plist>
